[2018-09-23 21:34] laboiteare opened #1 "Multiple .onSequence for a unique button"
Hi ! First, thank you for this great library. It's make easier the button handling on my arduino projet.

I tried to use multiples sequences for a unique button but only the last declaration works. I know it's hard to implement but do you think you can could handle more than one event for a unique button ?

For example, with a 2000 timeout, you could run a callback if you press one time, and a dif

[2018-10-29 13:15] evert-arias commented on #1
@laboiteare Hi. Thank you very much for your feedback. I'm very sorry for the delay. Undoubtedly you have indicated a good point, I will be looking at the issue very soon to implement that recommended functionality. Again, thank you very much for your comment .

Best regards

[2018-11-15 23:15] vergissberlin opened #3 "Feature request: onReleasedFor()"
**Hi!**

thank you very much for this library!
I try to get an event, after the button was released after a long press.
I tried it in that way but without success:
[code]

What I looking for is actually something like:
*onReleasedFor(2000)*

Do you have an idea how to do that?
Thanks, André

[2018-11-21 02:50] evert-arias commented on #3
@vergissberlin Hi. I will definitely do my best to add the requested function in the near future. Feel free to comment on any other opinion or bug.
Thanks, Evert

[2019-02-11 04:52] lexelby opened #5 "spurious pressed-for events"
Hi!  Thanks for writing this, it's designed to do exactly what I want.

I noticed a weird issue where mashing on the button seems to cause spurious pressed-for events.  I set my debounce time to 50ms and the pressed-for duration to 5000ms.

I did a bunch of debugging and determined that when one of these spurious pressed-for events happens, `_last_change` is _less than_ `_time` -- always by one ms

[2019-02-12 01:04] lexelby commented on #5
Here's what I think happens:

1. Button release event happens.
2. More time than the debounce interval passes.
3. `read()` is called.
4. Nothing changes, and `_time` is updated at the end of `read()` -- let's say to `10999`.
5. `millis()` ticks over to `11000`.
6. User presses the button
7. `read()` is called.
8. A change in state is detected and `_last_change` is set to `11000`.  `_current_state`

[2019-02-15 19:29] evert-arias commented on #5
@lexelby
Hi! I've done some tests and it looks like your fix solves the "spurious pressed-for events".
Thank you very much for your collaboration https://github.com/evert-arias/EasyButton/pull/6 👍

commit: https://github.com/evert-arias/EasyButton/commit/d670ce1cd4484ee440d716151fad94d8776e4d18

[2019-02-15 19:34] lexelby commented on #5
Hooray!! Thanks again for writing this library :)

[2019-02-19 08:04] evert-arias commented on #5
I will close this issue since it has been solved

[2019-02-19 08:04] #5 closed

[2019-02-20 22:09] finchamp commented on #1
@evert-arias -- I would be interested in this as well. I love the library so far, it seems to be the best one out there. I am working on an intuitive light dimmer switch using a capacitive touch panel, and I could "trick" the controller into recognizing several tap-gestures, it would be a little simpler to just institute multiple supported .onSequence().

I don't see a way to put a bounty on this,

[2019-05-16 18:30] renerlemes opened #10 "MyCustomLibrary function can´t use callback"
To declare a callback is used

[code]

But if I using the library inside a class, is not possible use a function inside my library

[code]
or
[code]

I change the line 27 of file EasyButton.h

Before
[code]
After
[code]

And work with mycustomlibrary! I don´t now how to make a Pull Request for this correction, someone helpme? Or @evert-arias

[2019-05-16 21:44] #10 closed

[2019-05-16 21:44] renerlemes commented on #10
Exist a pull request about this. #2

[2019-06-07 08:04] dakky commented on #1
same would be nice for `.onPressedFor`: at the moment the callback with the lowest time gets fired

[2019-07-03 03:10] sunishnet opened #12 "Error using library"
I get the following error message

EasyButtonTouch.cpp:21:23: error: 'touchRead' was not declared in this scope
  return touchRead(_pin) < _touch_threshold;

while trying to verify the code in Arduino/VSCode IDE. This happens whether the board is Arduino Uno or ESP8266

[2019-07-03 15:52] evert-arias commented on #12
Capacitive touch GPIOs are only available in ESP32. I'll highlight it in the library documentation.

[2019-07-04 02:20] sunishnet commented on #12
That's understandable, but why is the touch code getting invoked on a sample with normal switch on ESP8266 and Uno ?

[2019-07-04 03:27] evert-arias commented on #12
You're right, the touch code should only be invoked for ESP32.
I have already applied the solution recommended by @gutierrezps at https://github.com/evert-arias/EasyButton/pull/11

A new version has been released https://github.com/evert-arias/EasyButton/releases/tag/v1.0.2

Thanks

[2019-07-04 14:06] malaki86 opened #14 "Long button press issues"
I'm trying out this library, but having issues, mainly with the long press function.

When the code starts, it almost instantly detects a long press. I have tried adding a delay (2 seconds) at startup, prior to initializing the button, but it still happens.

I also would like to have the button as dual-function (short & long press). When using both functions, both short & long press triggers the l

[2019-07-04 15:31] malaki86 commented on #14
Ok - I feel like a complete idiot now. I had a wire hooked up wrong. The code I posted above works 100%, having both short & long press functions.

[2019-07-04 15:39] evert-arias commented on #14
Hi @malaki86
Don't worry, that happens all the time :smile:
Feel free to post any further issue that you may have or suggestions that may improve this library.

Regards

[2019-07-05 04:46] sunishnet commented on #12
I checked the new version and it compiles and works fine.
Thanks

[2019-07-05 04:46] #12 closed

[2019-07-06 01:59] evert-arias commented on #14
I'm closing this issue since this is not a problem with the library

[2019-07-06 01:59] #14 closed

[2019-07-10 23:31] Petros144 commented on #1
Same Here, work for a automotive project and have only a single button to work with and want to implement 4 functions (press, long press, press 2x , press 3x). Would also donate a few bucks to this nice Lib!!!

[2019-07-17 14:34] mrarmyant opened #15 "Would this be fast enough to handle the debounce for a reed switch flow meter?"

[2019-07-17 15:05] evert-arias commented on #15
@mrarmyant
Have not try it with reed switch flow meter but i think it will handle it.

[2019-07-17 15:06] evert-arias commented on #15
@mrarmyant
Have not test it with reed switch flow meter but I think it will handle it.

[2019-08-10 02:47] evert-arias commented on #15
I'm closing this since it's not an issue.

[2019-08-10 02:47] #15 closed

[2019-08-18 14:19] vazquezjm opened #21 "Compile errors in MultipleButtons.ino"
HI @evert-arias !

I'm getting the following error when compiling the example `MultipleButtons.ino`

[code]

This happens both in Arduino IDE v1.8.9 and PlatformIO (VSC)

[2019-08-18 17:21] elC0mpa commented on #21
@vazquezjm thanks for inform us about this issue. We are working on it, it will be fixed in the Next release, wich will be ready soon

[2019-08-18 21:11] evert-arias commented on #21
Hi @vazquezjm
This issue has been fixed https://github.com/evert-arias/EasyButton/commit/fed0ad89c017bb470ac818d4f93ec8c3a5f84b8a and a new release it's now available to [download](https://github.com/evert-arias/EasyButton/releases/tag/v1.1.1).
https://github.com/evert-arias/EasyButton/releases/tag/v1.1.1

We appreciate you feedback

[2019-08-18 22:29] vazquezjm commented on #21
Wow, that was super fast!

Quick note: I added the following line to my project `platformio.ini` in order to start using 1.1.1 as described [here](https://docs.platformio.org/en/latest/userguide/lib/cmd_install.html#description)

```lib_deps = EasyButton@1.1.1```

Although it looks like it is trying to download 1.1.1, I get this message:

![image](https://user-images.githubusercontent.com/5269397/

[2019-08-18 23:31] evert-arias commented on #21
@vazquezjm
PlatformIO takes a few hours even a day to update its libraries registry.
I suggest you wait a couple of hours until the new version is available on PlatformIO.
https://platformio.org/lib/show/5741/EasyButton

[2019-08-21 18:18] evert-arias commented on #21
This issue has been solved

[2019-08-21 18:18] #21 closed

[2019-08-31 23:31] vazquezjm opened #23 "Using EasyButton with Low-Power"
Hi there!

This is not an issue per-se, but I need your help clarifying this.

Currently I'm working on an irrigation project with Arduino. This setup is stand-alone, no connections to external apps or servers. This is challenging since I have buttons for:

* button 1: enter programming mode while pressed
* button 2: while on programming mode, switch from max moisture to min (swap values shown on

[2019-09-08 22:10] rgb-empire opened #24 "Can I make an Easy Button as a member of a class?"

[2019-09-09 13:42] evert-arias commented on #24
Hi @rgb-empire
Yes, you can make it a member of a class. I will add an example on that.

[2019-09-09 13:53] evert-arias commented on #23
Hi @vazquezjm
@elC0mpa it's going to help you with that. He should be around soon.

[2019-09-09 20:17] rgb-empire commented on #24
Awesome! I was trying but couldn't get the event function to work when it also belonged to that same class.

[2019-09-10 15:34] rgb-empire commented on #24
This is what I'm trying to do, any idea why it's not working?

void Physical_Input::best_button_on_pressed()
{
//do something
}

Physical_Input::Physical_Input()
	:enabled(true),
	best_button(EasyButton(_Best_Button_Pin)),
	rotary_button(EasyButton(_Rotary_Button_Pin)),
	encoder(Encoder(_Rotary_Pin_A,_Rotary_Pin_B))
{
        best_button.onPressed(Physical_Input::best_button_on_pressed);
}

[2019-09-11 22:50] elC0mpa commented on #23
Hi @vazquezjm, basically you want to know if microcontroller could be awaked By using external interrupts. As you should know, powerdown library has a powerdownWakeExternalInterrupt example. So, microcontroller could be awaked By using external interrupts (buttons in this case). The problem is that when microcontroller is in powerdown state, timers are disabled, and timers are indirectly used By e

[2019-09-11 23:40] vazquezjm commented on #23
Thanks for the reply @elC0mpa 👍

I was able to make it work this way, with 5 buttons:

![image](https://user-images.githubusercontent.com/5269397/64742861-13b07f00-d4d4-11e9-9f69-6004e8f68e84.png)

[code]

So now it goes to sleep for 8s and I can wake it up using a push-button.

Now, my goal is to use `PressedForDuration` in order to have only 4 buttons like this:

- button 1:
  - enter programmin

[2019-09-14 22:02] rgb-empire commented on #24
@evert-arias

So I think I inadvertantly figured this out while doing another class in my program.

I ended up needing to define a static member function to wrap the callback function in so that it could be used for the callback. I will update this post with code when I confirm that the same thing works for EasyButton!

[2019-09-15 13:38] thkfighter opened #25 "Does onPressed() have higher priority over onPressedFor()?"
[code]
I pressed button3 for more than 5 seconds and then released it, onPressed() responsed instead of onPressedFor().

[2019-09-15 14:38] elC0mpa commented on #25
Hello @thkfighter, are you sure that this es exactly what is happening? I ask you because evert and i tested this feature before including it to the library and everything was fine

[2019-09-15 14:59] thkfighter commented on #25
I'm afraid so.
According to your response, I changed the debounce time from default 35ms to 200ms. It did not work either.
`EasyButton button3(buttonPins[2], 200, true, true);`
The board is [ESP-12S](https://wiki.ai-thinker.com/esp8266) from Ai-Thinker, with three buttons connected on GPIO 4, 5 and 16 respectively.

[2019-09-15 15:37] evert-arias commented on #25
Hi @thkfighter
I'm going to run some tests on what you have pointed out and get back to you later.
Regards

[2019-09-15 16:35] evert-arias commented on #25
@elC0mpa @thkfighter
I was able to replay the misbehavior of the **onPressedFor** feature when using interrupts. It's indeed not working properly, as stated by @thkfighter. I'm currently working on a solution to that issue.

[2019-09-15 22:28] elC0mpa commented on #25
@thkfighter there is a mistake in your code. If you want to use the onPressedFor functionality through external interrupts, you should call the update method in the loop function

[2019-09-16 01:29] thkfighter commented on #25
@elC0mpa @evert-arias Thanks a lot. It works.

[2019-09-16 05:21] thkfighter opened #26 "Does the library EasyButton work well for 365x24h continuous application?"
Is there any timer variable that will overflow when the application runs for a long time?

[2019-09-16 10:48] elC0mpa commented on #26
Why are you asking this @thkfighter? Inside the library we only use the millis() function wich use the timer0 or timer1, I don't remember exactly wich of these is. But the value returned by this function overflows after more than a month.

[2019-09-16 14:00] #25 closed

[2019-09-17 02:51] thkfighter commented on #26
I wonder if the button will fail when the timer variable overflows.

[2019-09-21 14:22] 404-baitnotfound opened #27 "#define INTERRUPT 0"
please remove the line "#define INTERRUPT 0"
it interferes with other Liberiers , and does not serve any purpose.

e.g.: espressif\esp32/tools/sdk/include/esp32/xtensa/config/specreg.h  --> " #define INTERRUPT 226"

[2019-09-21 16:56] elC0mpa commented on #27
Hello @404-baitnotfound, thanks for giving us this advice. We had already realized about it, but this issue will be fixed in version two due to compatibility problems. I hope you could solve your problems right now By modifying the library locally in your pc.

[2019-09-25 10:23] #27 closed

[2019-09-25 10:31] 404-baitnotfound commented on #27
Since the PressedFor function does not give reliable results I stopped using the lib.
I wrote myself an button handling algorithm that can detect
- short presses on released interrupt
- medium / long on pressed timer interrupt  (user does not have to release the button)
it works really well, and if someone is interested to make an general lib out of it I will share my code?

[2019-10-20 16:03] danidavid opened #28 "too complicated documentation"
the problem in understanding occured when reading invert and pullup resistors section.

Should use simple wordings, the wordings are not elaborating the function clearly, also elaborate more in a keep it short simple (KISS) manner. Also should be clear and concise.

[2019-11-05 19:13] evert-arias commented on #28
Hello @danidavid
Thank you very much for showing interest in **EasyButton**. We really appreciate your opinion and the recommendations made on how to improve the library's documentation. The documentation will be improved in the near future, however you can feel free to contribute by doing PR.

[2019-11-05 19:13] #28 closed

[2019-11-05 19:18] #26 closed

[2019-11-10 13:40] liebman opened #29 "v2 branch removal of begin() may be problematic"
Constructors for c++ objects may run before frameworks on platforms like esp8266 and esp32 are fully initialized.  Typically this is why begin() is used.  I noticed this while looking for a solution for INTERRUPT being redefined in the current release on esp32.

[2019-11-12 19:30] mrdc opened #30 "Callback for button release?"
Hello,

Would be nice to add a callback for button release.

Thanks!

[2019-11-12 19:45] elC0mpa commented on #30
There is a callback for button release, is onPressed event, maybe what you mean is that it would be nice to have a onReleasedFor event. Thanks for your feedback

[2019-11-12 19:53] mrdc commented on #30
Yes, just for release event. I need to catch once when there is HIGH on pin, do some work and catch once LOW on pin. What I have now is that my Serial is flooded if I use wasPressed and wasReleased.

[2019-12-29 00:15] Petros144 opened #31 "imput Variable instead of imput Pin"
Hi Evert Arias,

Thank you for your nice Lib!

I want to ask if its possible to use the library with a normal Bool Variable
instead of a Hardware Pin? or what kind of modifications are need to be make this work?

like instead of  "EasyButton button(BUTTON_PIN);"

for example "EasyButton button(BOOL_VARIABLE);"

[2020-01-02 20:34] piotrpog72 commented on #1
Hello.. is there something happens since February? I need this functionality very much in my present project.

[2020-01-03 00:30] evert-arias commented on #31
Hi @Petros144
The first argument is a **uint8_t** data type. That's the parameter to set the pin where the button is connected. I don't understand why would you need to pass a boolean variable as the pin number. Could you elaborate more about this.

[2020-01-03 01:07] evert-arias commented on #1
Hi @piotrpog72
You will find this feature in version 2.0 that will be available soon.
Regards

[2020-01-03 23:39] Petros144 commented on #31
I work with CAN Bus data and all imput data like buttons arrive as  8 byte Hex values, I have already managed to get every button a specific variable to work with (like High / Low State). And Your library is perfect for my needs except that im not useing any Hardware pin on my Board.

So insted i want to work with my Button variable from the CAN Bus.

I hope you can understand what i want to achie

[2020-01-06 18:13] evert-arias commented on #31
Hi @Petros144
I understand what you are trying to achieve. Unfortunately, the EasyButton library is designed to work only with hardware buttons connected to the MCU's GPIO pins. However, you have pointed a good feature that could be added to the library: the possibility of using variables that act as virtual buttons or button signals that come from other sources instead of the local GPIO's of the

[2020-01-06 18:23] evert-arias commented on #29
Hi @liebman
Thanks for pointing this out. In fact, it is a good point, I will consider it for v2.
Regards

[2020-01-06 21:19] Petros144 commented on #31
Thank you very much! - Wil put some bucks in the Donations Jar!

[2020-01-10 22:59] finchamp commented on #1
Super!

On Thu, Jan 2, 2020, 7:07 PM Evert Arias <notifications@github.com> wrote:

[2020-02-21 18:27] source-creator commented on #30
Greetings @elC0mpa
The callback is not called for me when the button is released, only when it is pressed.
Perhaps I am missing something?

[2020-03-01 17:56] malaki86 opened #32 "ESP32 compilation issues"
I'm trying to implement EasyButton on an ESP32 project, but I'm receiving errors during compiling.

Code:
`#include <EasyButton.h>

// pin assignments
const byte
  btnHeatPin(14);

#define LongPress 2000

EasyButton btnHeat(btnHeatPin);

void btnHeatShortPress() {

  Serial.println("Button Heat short press");
}

void btnHeatLongPress() {
  Serial.println("Button Heat long press");
}

void setup()

[2020-03-01 18:36] malaki86 commented on #32
As a note, I was trying to use version 1.1.1 when I received the error. I uninstalled and installed version 1.0.2 and it works perfect.

[2020-03-05 16:03] mdleisure opened #33 "MCP 23017 Additional Inputs"
Thank you for this library it has made my introduction to ESP and Arduino a lot easier.

I have found myself in need of more inputs, I was surprised at how many inputs cant be used on the ESP boards even on the larger version.

Hence I am now looking into the MCP23017 to get more and allow futher development for both inputs and outputs.

I have tried to read through and see if there is anyone usin

[2020-03-18 15:51] evert-arias commented on #33
Hi @mdleisure
I appreciate your feedback.
It will definitely be interesting to make EasyButton capable of using the additional ports provided by chips like the **MCP23017**. That is a feature that would be very important to have in future versions of the library, therefore I will discuss the possibility.

In the meantime, feel free to share any ideas or the results of your tests. Any comments in t

[2020-03-18 16:27] evert-arias commented on #32
Hi @malaki86
I have tried to reproduce this error using your source code and **EasyButton v1.1.1** and it works fine as expected. It seems that the problem in your case is due to the EasyButton library not being installed correctly in your environment.

Please refer to the [installation docs](https://easybtn.earias.me/docs/installation).

[2020-03-18 16:55] evert-arias commented on #23
Hi @vazquezjm
I am sorry I took so long to respond, I have been busy on other projects. I hope you have managed to make it work the way you wanted. 👍

[2020-03-18 16:59] evert-arias commented on #23
I consider that this issue has been resolved and therefore I will be closing it. Feel free to open a new issue if you need to.

[2020-03-18 16:59] #23 closed

[2020-03-18 17:02] evert-arias commented on #24
I am sorry I took so long to respond, I have been busy on other projects. I hope you have managed to make it work the way you wanted.

[2020-03-18 17:02] evert-arias commented on #24
I consider that this issue has been resolved and therefore I will be closing it. Feel free to open a new issue if you need to.

[2020-03-18 17:02] #24 closed

[2020-03-18 17:08] evert-arias commented on #29
I consider this issue resolved and therefore I will be closing it. Feel free to open a new issue if you need to.

[2020-03-18 17:08] #29 closed

[2020-03-18 17:13] evert-arias commented on #30
Hi @source-creator
Please provide your code to see if there is any issue and we'll try to reproduce it in our side.

[2020-03-23 16:23] evert-arias commented on #1
This feature has been added to EasyButton [v1.2.0](https://github.com/evert-arias/EasyButton/releases/tag/v1.2.0)

Also check https://easybtn.earias.me for the official documentation, examples and more.

[2020-03-23 16:24] evert-arias commented on #1
This issue has been resolved and therefore I will close it. Feel free to open a new problem if you need to.

[2020-03-23 16:24] #1 closed

[2020-04-03 18:25] vazquezjm opened #39 "onPressedForDuration not waiting for set duration?"
Hi there.

I wired my test Arduino Pro Mini as follows:
![image](https://user-images.githubusercontent.com/5269397/78392355-82634000-75be-11ea-9e3c-8a74f2dc532c.png)

When I run the `onPressedForDuration()` example (running on EasyButton v1.2.0)

[code]

As soon as I press the button, I get "Button has been pressed for the given duration!", although I set duration to 3000.

Any suggestion?

Thanks

[2020-04-03 18:43] evert-arias commented on #39
Hi @vazquezjm I'll take a look at this and get back to you later on today.

[2020-04-03 20:12] elC0mpa commented on #39
Hi @vazquezjm, I am pretty sure that the problem is related to your hardware. You are connecting your button to vcc and you are using the library as if it  is connected to gnd. Please try the same connecting the button to gnd and let us know if it worked

[2020-04-03 20:27] vazquezjm commented on #39
![image](https://user-images.githubusercontent.com/5269397/78401943-2bfefd00-75d0-11ea-8d60-b6f780dedc4e.png)

It works now!

Is there a way I can use it connected to Vcc? Thx

[2020-04-03 20:42] evert-arias commented on #39
@vazquezjm
Passing `false` as the third arguments on the EasyButton class constructor will invert the default button's logic as described in https://easybtn.earias.me/docs/fundamentals.

Please use the following example as reference:

[code]

[2020-04-03 20:59] vazquezjm commented on #39
Thank you @evert-arias, that did the trick!

[2020-04-03 20:59] #39 closed

[2020-04-09 01:51] octave opened #40 "Interrupt example not working with 1.2.1"
With version 1.2.1 on Interrupt example:

`button.read(INTERRUPT);` generates: `error: 'INTERRUPT' was not declared in this scope`

[2020-04-09 02:26] evert-arias commented on #40
Hi @octave
I will take a look at it and get back to you. I appreciate your feedback.

[2020-04-09 02:49] evert-arias commented on #40
@octave
This is what is happening. In **v1.2.1** we fixed an issue with the `INTERRUPT` macro as it was already defined in the arduino environment. To fix such problem, we renamed `INTERRUPT` to `EASYBUTTON_READ_TYPE_INTERRUPT`. This update should have been released as a major version update since it was a breaking change.

We will be fixing this error as well as update the corresponding examples

[2020-04-11 19:20] evert-arias commented on #40
Hi @octave
In version 2.0, that has been released today, there is no need to pass any arguments when calling the `button.read()` function. There more features included in this release, feel free to give it a try.

https://github.com/evert-arias/EasyButton/releases/tag/v2.0.0

[2020-04-11 19:25] evert-arias commented on #33
Hi @mdleisure
We just released [EasyButton v2.0](https://github.com/evert-arias/EasyButton/releases/tag/v2.0.0). This version has support for virtual buttons allowing you to use a port expander like the **MCP23017**. We will include an example using chips like the **MCP23017** in the coming days.

https://github.com/evert-arias/EasyButton/releases/tag/v2.0.0

[2020-04-11 19:31] evert-arias commented on #31
Hi @Petros144
We just released [EasyButton v2.0](https://github.com/evert-arias/EasyButton/releases/tag/v2.0.0). This version has support for virtual buttons allowing you to use a variable instead of an actual

EasyButton now has its own website where you can find the library documentation, examples and other useful information. https://easybtn.earias.me

We welcome any feedback from you. Thanks i

[2020-04-14 22:05] mdleisure commented on #33
Hi,

Thankyou for the notification, Great news on the V2 release and the
expansion ports use.

I will change my project around and use all 6 buttons on the expansion port
to test and report any issues I may come across.

Again thank you for supporting and developing your library.

On Sat, 11 Apr 2020 at 20:25, Evert Arias <notifications@github.com> wrote:

[2020-04-15 17:25] evert-arias commented on #33
I consider this issue to be solved and therefore I will close it. For any issue related to virtual buttons support in EasyButton v2.0 please open a new issue.

[2020-04-15 17:25] #33 closed

[2020-04-15 17:26] evert-arias commented on #31
I consider this issue to be solved and therefore I will close it. For any issue related to virtual buttons support in EasyButton v2.0 please open a new issue.

[2020-04-15 17:26] #31 closed

[2020-04-23 17:52] MattGarfield commented on #40
@evert-arias reminder to update the website documentation to reflect this change. I just updated to v2.0 and was spinning my wheels for a few hours until I found this thread.

https://easybtn.earias.me/docs/fundamentals#external-interrupts

[2020-04-23 17:56] MattGarfield commented on #40
The [Interrupts.ino example](https://github.com/evert-arias/EasyButton/blob/24d68cdfdd4081a1b3288295051d600e2ffb8eeb/examples/Interrupts/Interrupts.ino#L33) also still includes the comment to use the INTERRUPT parameter:

[code]

Awesome work on this super useful library. Thanks for all of your effort!!

[2020-04-24 08:31] shafr opened #44 "Joystick / ThumbPad support, where button can have both low and high values"
Hi, I was woundering how to use your library to work with joystick buttons. They have basically x2 10K resistors, so values from analog read goes something like this:

* Left-Right/Top-Down:

| Left | Middle   | Right |
|------|-----------|-------|
| 0    | 1850-1900 | 4096  |

* Joystick press:

| Pressed | Default  |
|---------|----------|
| 0       | 800-1300 |

I've tried both Pull_down and Pu

[2020-04-29 12:48] evert-arias commented on #44
Hi @shafr
At the moment the library does not support this type of control but you have definitely pointed out an interesting feature to be implemented.

We appreciate your feedback.

[2020-04-29 19:07] shafr commented on #44
@evert-arias thanks for comment!

I've found something similar that is already implemented [here](https://github.com/sudar/JoystickShield). It has calibration (3.3v and 5v) value detection and implementation itself. (Beerware license)

Maybe there can be a class that is `EasyJoystick` instead that would extend EasyButton and would have:
* triggered value and
* default value range :) ?

[2020-05-16 18:38] evert-arias commented on #44
Hi @shafr It looks good to me 👍. It is a feature that I will take into account to work on in the future.

[2020-05-16 18:41] evert-arias commented on #40
Hi @MattGarfield
I will fix that as soon as possible. Thank you very much for your comment, I really appreciate your feedback.

[2020-05-16 18:43] saikek commented on #44
@evert-arias Awesome. Thank you.

[2020-10-05 14:44] zener79 commented on #1
Hi guys,
I'm re-opening this just to better understand the multiple onSequence behaviour.

Running [this example](https://github.com/evert-arias/EasyButton/commit/9b27abf162ab630a3be83ae562cc7b58d3e71ebd) if I quickly push the button 3 times I receive the following output.

`Double click`
`Other sequence`

Basically both the callbacks get triggered. Is this a desired behaviour?

[2020-10-19 09:21] ullix opened #48 "Unexpected behavior"
I am surprised by the results I am getting when defining multiple duration and sequence calls. Is this really the intended behavior of this lib?

This is the preogram, modified from your example:

        /*
         * MODIFIED from:
          Name:    MultipleSequence.ino
          Created:  03/23/2020 12:45:23 AM
          Author: José Gabriel Companioni Benítez (https://github.com/elC0mpa)

[2020-10-19 17:47] elC0mpa commented on #48
Hi @ullix
Nowadays this library **doesn't support multiple onPressedFor() events**, that is the reason why it only calls the `onPressedFor5000` function
Soon we will decide what to do about this and will let you know

[2020-11-28 07:39] packetloss69 opened #50 "nrf52 'NOT_AN_INTERRUPT' was not declared in this scope"
Hi there.
Issue: When using EasyButton > 1.02 compilation failure with Adafruit nrf52 BSP
Using https://github.com/adafruit/Adafruit_nRF52_Arduino BSP.
BSP versions affected 0.70 - 0.21.0 (All)

Works on all versions: Easybutton 1.0.2
Fails: 1.1.0 up to and including 2.0.1

Error produced:
`C:\Users\User\Documents\Arduino\libraries\EasyButton\src\EasyButton.cpp: In member function bool EasyButton:

[2020-12-02 22:17] wesee-dev opened #51 "Exception InstrFetchProhibited when calling read with no ISR defined"
I am having an exception when calling read() when no interrupt handler is passed to the library.
The code causing this issue is  _pressed_callback() in the file EasyButton.cpp.
I don't know if that is a real issue, or I'm doing something wrong.

[2021-02-10 20:31] JawadHyder commented on #48
I am observing the same behavior. All I want is to have at least 3 different actions on a single button. I can get 2 working fine (single press and long press) but can't add a double press sequence. Any progress on this issue?

[2021-02-11 09:05] ullix commented on #48
I solved this for me by moving to the [AceButton lib](https://www.arduino.cc/reference/en/libraries/acebutton/). I use now clicked, double clicked, and long pressed functions, and I can detect a button press during boot. Works well for me.

[2021-02-12 18:35] JawadHyder commented on #48
Thanks for your reply @ullix. I'll check out the AceButton lib. Although I was able to modify the EasyButton library to make it work by using esp8266 Ticker library to generate a one time callback after the maximum time duration has lapsed to only trigger the action associated with the maximum clicks but I'm not sure if this lib is supported by other boards so I'll probably stick with something te

[2021-02-26 16:32] wesee-dev commented on #51
Fixed by commenting the call to is _pressed_callback().

[2021-02-26 16:32] #51 closed

[2021-03-03 14:09] saddys opened #54 "Error with Digistump/attiny85 compiling"
Error with Digistump/attiny85 compiling. Any suggest? Thanks!

C:\Users\utente\Documents\Arduino\libraries\EasyButton\src\EasyButton.cpp: In member function 'bool EasyButton::supportsInterrupt()':
C:\Users\utente\Documents\Arduino\libraries\EasyButton\src\EasyButton.cpp:99:36: error: 'digitalPinToInterrupt' was not declared in this scope
  return (digitalPinToInterrupt(_pin) != NOT_AN_INTERRUPT);

[2021-03-22 06:01] gogreenpower commented on #30
Did anyone get a OnRelease Callback working?

[2021-05-03 15:05] eppfel commented on #30
I setup a check for `btn.isReleased()` after `btn.read()` once `pressedFor(X)`was triggered.

[code]

[2021-05-29 22:26] pnaybour opened #55 "Change the parameters for .onSequence(presses, timeout, onSequenceMatched);"
Hi is it possible to redefine the parameters for the presses and timeout in this function, based on either user input. Or can they only he set up when first called. A function the change the parameters without redefining the call back would be great.

[2021-07-23 23:05] taiko000 opened #56 "Minor Fix: #define Easybutton function support for ESP32 too not only ESP8266"
In class EasyButtonBase.h the macro should not only enable functional support for the ESP8266 but also for the ESP32.

The` #ifdef ESP8266` should become
`#if defined(ESP8266) || defined(ESP32). `

[2021-08-24 03:02] SteveRMann opened #57 ""onPressed" is actually "onRelease" ??"
I run the single-press example, but I don't get the callback until the button is released.
What did I miss?

[2021-09-04 07:32] pnaybour commented on #40
Has the documentation been updated yet?

[2021-10-01 15:00] mdleisure opened #59 "vButton.onPressedFor issue"
Hi I have used the example in the library examples to test the Vbutton code.

I am using esp8266 (12e) and a MCP23017 non interupt

I have tried both with a library for the 23017 and also direct register coding and I get the same result when trying to use on pressed for.

As soon as I add the vButton.onPressedFor(2000, buttonPressedForTwoSeconds); into the code then that it pretty much all you wil

[2021-10-01 15:27] FraOre opened #60 "Multiple onPressedFor"
Hi,
I would like to do something like this with the same button:

`
button.onPressedFor(1000, showIP);
button.onPressedFor(3000, restartDevice);
`

so execute two different callback based on the pressing duration. It doesn't work for me. Just the last function is called.
Any idea?

Thank you so much,
Francesco

[2021-10-17 12:13] jonathanschneider commented on #57
That's exactly the behaviour described in the [documentation](https://easybtn.earias.me/docs/on-single-press-api).

[2022-01-27 20:04] TylerTotally commented on #60
I am trying to do the same thing, and having the same problems.

[2022-01-29 21:32] TheLastGimbus commented on #54
This dosn't let me use this library at all on Attiny. Could someone take a look?

[2022-01-30 10:13] TheLastGimbus commented on #54
I added a hack in my fork. You can use it with platformio like:
[code]

[2022-03-12 18:54] evert-arias commented on #60
Hi @FraOre and @TylerTotally, I will take a look at this.

[2022-03-12 18:56] evert-arias commented on #57
Solved by @jonathanschneider

[2022-03-12 18:56] #57 closed

[2022-03-14 16:24] dynek opened #66 "Press duration"
Hey,

I'm not seeing much activity, reason why I did not submit a PR straight away.
Is this codebase still maintained?

I'd like to make a suggestion to fetch how long the button has been pushed from within onPressed's callback.
Reason is I'd like to have a button with different actions if it's pressed for 1, 2, x seconds.

Thank you

[2022-03-15 21:38] dynek commented on #66
Ended up using AceButton.

[2022-03-15 21:38] #66 closed

[2022-03-31 12:59] JFClaeys commented on #60
Basically, it is the last defined OnPressedFor  that is stamped in the EasyButtonBase class's members
So I believe that an array (or a chained list of events) should be set in place in order to hold the different OnPressedFor callbacks.
Of course, _checkPressedTime  should then loop that structure until found proper callback.
I'll see how to setup something decently behaving :)

[2022-04-19 12:23] JotarOne opened #67 "Feature request: Reset pressed time."
I have a case where I am using two buttons.
I am using "pressedFor" to trigger long press and if i press both buttons I can get an "extra" long press function.
My issue is that when i release one of the buttons, the other one triggers my "single button long press".
A function to reset the pressed time of the "other" button would force the "other" button to wait the whole allotted time again before

[2022-05-30 15:45] oriaj3 opened #69 "Error example simple button with interrupt in ESP32."
Hi, I am testing the library to include it in a larger project and replace my rudimentary library to use short press and long press on various buttons. But after compiling and uploading the example code to my ESP32 with VScode, I get this error. I use the single button example with interrupt and my ESP32 is made by doit, esp-wroom-32 devkit v1.

`#include <Arduino.h>
#include <EasyButton.h>

const

[2022-06-09 21:29] Elemeants commented on #69
Hi!

I think your error is on this:

[code]

The ESP32 internal Arduino implementation feeds the watchdog timer each time a loop function is called, so that exception is because the watchdog timer was triggered for a timeout.

So remove the `void(10)` code and try again.

[2022-06-27 20:21] musapinar opened #70 "a triple click triggers callbacks for double and single clicks as well"
When I triple click the button, it also fires events "below", that is to say event for double click and even for single click. How do I avoid that? I want the code to only fire the triple click event.

Example :
[code]

On triple click, the serial monitor will print the following :
[code]

[2022-07-01 21:49] musapinar commented on #70
duplicate of https://github.com/evert-arias/EasyButton/issues/1

[2022-07-02 08:29] musapinar commented on #70
I switched to https://github.com/bxparks/AceButton

[2022-07-02 08:29] #70 closed

[2022-08-10 02:02] spuder opened #71 "Clarify in Docs what INTERUPT is"
The documentation is fantastic, the best I've ever seen.

On this page there is documentation on how to enable interupts

https://easybtn.earias.me/docs/fundamentals
<img width="826" alt="Screen Shot 2022-08-09 at 7 58 07 PM" src="https://user-images.githubusercontent.com/242382/183793718-5426b4e4-0f39-4b91-bacc-20f7bcc08b7d.png">

Yet its not clear what `INTERUPT` should be.

Should INTERUPT be t

[2022-08-10 02:23] spuder commented on #71
Looking at the interrupt example in the examples folder shows that no interupt is provided to `button.read()`.

https://github.com/evert-arias/EasyButton/blob/main/examples/Interrupts/Interrupts.ino#L31

[2022-08-11 01:05] sevenberyl commented on #69
Same error, even without void(10)：
Guru Meditation Error: Core  1 panic'ed (Interrupt wdt timeout on CPU1).

[2022-08-18 23:33] ahmedmibrahim commented on #69
Same error here:
The error backtrace is logged below

Decoding stack results
0x4037c48f: vListInsert at /home/runner/work/esp32-arduino-lib-builder/esp32-arduino-lib-builder/esp-idf/components/freertos/list.c line 182
0x4037b75f: vTaskPlaceOnEventList at /home/runner/work/esp32-arduino-lib-builder/esp32-arduino-lib-builder/esp-idf/components/hal/esp32s3/include/hal/cpu_ll.h line 38
0x4037abaa: xQu

[2022-09-22 02:39] fastbike commented on #60
This would be a useful addition to the library

[2022-09-22 02:49] fastbike opened #72 "Enhancement: Periodic callback when button is held down"
My use case is for a light switch that normally functions as a momentary switch, but acts as a dim up/dim down switch when it is held for more than 250ms.

So to achieve this I have attached a function for the onPressedFor callback
[code]

[2022-09-22 03:08] fastbike commented on #72
You can see my changes here, feel free to use
https://github.com/fastbike/EasyButton/commit/ed3ad1022b2044c51145c139fcd420070052d77d

[2022-09-22 04:33] fastbike opened #73 "Enhancement: instance pointer in callbacks"
Devices often contain multiple buttons, the one I'm dealing with has 6. The easiest way to model these is in an array.

In a device with multiple buttons the code can get pretty unwieldy if you need to attach 3 callbacks to each of the 6 buttons, that's 18 functions to write, maintain and understand.

Is there a simple way to detect which button has fired the callback e.g. like "this" is javascrip

[2022-09-23 04:49] fastbike commented on #73
I've made some changes in my fork of this library - it allows the callback to access the button and take action based on which button fired the callback, see https://github.com/fastbike/EasyButton/commit/041232204007687e44eda7c1d0f22969541cc50e

[2022-09-23 04:49] #73 closed

[2022-09-23 13:34] Cvaniak opened #74 "ESP32-C3 does not support Touch"
## Overview
In file where is defined support for `Touch` there is check if Micro Controller is ESP32:
https://github.com/evert-arias/EasyButton/blob/4e818410252e9518564fc55f8d4a976fac70a9b2/src/EasyButtonTouch.cpp#L8
How ever ESP32-C3 include this flag but also does not support `Touch` what causes error on build.

## Solution
 So this check should be more precise excluding this MC.

 ## Temp Solut

[2022-10-19 15:39] goutamreddy commented on #40
Please update the documentation, 2022.10.19

[2022-11-07 19:06] jannies opened #75 "Multiple buttons with Callback per button"
I need some help and are not sure if I am doing this correctly.

I am trying to use 2 buttons with different callbacks for the onPressed defined for each button.
When any of the buttons are pressed both callback's are invoked.

See code below:

int timerPin = 0;
int resetPin = 13;

EasyButton timerButton(timerPin);
EasyButton resetButton(resetPin);

void onTimerPressed() {
  Serial.println("Timer

[2022-11-11 16:35] CSC-Sendance commented on #50
A valid workaround for this that also avoids issues stemming from copying the whole library or trying to update it is including the macro via buildflag: `-DNOT_AN_INTERRUPT`=-1`

If you are using platformio, edit your platformio.ini 's build variant to include:

[code]